name: Automated Docker Build and Push

on:
  push:
    paths:
      - "start.sh"
      - "dockerfile"
    branches:
      - main

env:
  VERSION: ${{ github.sha }}
  OWNER: ${{ github.repository_owner }}
  REPO: ${{ github.repository }}
  REPO_NAME: ${{ github.event.repository.name }}

jobs:
  build-push:
    name: Build & Push
    runs-on: ubuntu-latest
    steps:
      - name: Setting Environment
        id: env
        run: |
          echo "OWNER=${OWNER,,}" >> $GITHUB_OUTPUT
          echo "REPO=${REPO,,}" >> $GITHUB_OUTPUT
          echo "REPO_NAME=${REPO_NAME,,}" >> $GITHUB_OUTPUT
          echo "GHCR_REPO=ghcr.io/${OWNER,,}/${REPO_NAME,,}" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up docker buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ steps.env.outputs.OWNER }}
          password: ${{ secrets.GHCR_TOKEN }}
      
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64
          tags: ${{ steps.env.outputs.GHCR_REPO }}:latest
          push: true
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
